[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2"
djangorestframework = "==3.9.0"
gunicorn = "==19.9.0"
whitenoise = "==4.0"
dj-database-url = "==0.5.0"
pytz = "==2018.7"
django_heroku = "*" 
yfinance = "*"
google-oauth2-tool = "*"
django-cors-headers = "*"
django-crontab = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.7"
