[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "==4.0"
dj-database-url = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.6"
