html,
body,
#app {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 14px;
    /* background: #0069ff; */
    height: 100%;
    margin: 0px;
    padding: 0px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}